<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>О нас</title>
	<link rel="stylesheet" href="css/aboutus.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<script src="lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="lightbox.min.css">

<link rel="shortcut icon" href="img/icon.png" type="image/png">
</head>
</head>
<body>
	<header id="header" class="header">		
		<div class="container">
		<div class="nav">
			<ul class="menu" style="list-style-type: none;"> 
				<li>
					<a href="C:\Users\lihac\Desktop\layout\main.html">
						Главная
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\examples.html">
						Примеры
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\aboutus.html">
						О нас
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\contacts.html">
						Контакты
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\price.html">
						Цены
					</a>
				</li>
				<div class="call">
				 <img src="img/calllogo.png">
				</div>
					<a href = "tel:+79996664021" class="tel">
						+7 951 834-34-22 		
					</a>
									</ul>
		</div>	
		</div>
	</header>
	<section>
		<h1>О нас</h1>
		<div class="about">
			<p>“Мастерская Вкусных Тортов - это ваш идеальный выбор для незабываемого сладкого праздника! Мы предлагаем торты на заказ, созданные с любовью и мастерством нашими талантливыми кондитерами. Каждый дизайн уникален и может быть адаптирован под ваши предпочтения. Насладитесь восхитительным вкусом и внешним видом наших тортов, порадуйте себя и своих близких! Осуществите свои сладкие мечты с Мастерской Вкусных Тортов!”</p>
			
			<div class="images1">
			<img src="img/aboutus/m1.jpg" style="width: 376px; height: 260px; border-radius: 25px;"> </div>
			<div class="images2">
			<img src="img/aboutus/m2.jpg"style="width: 376px; height: 260px; border-radius: 25px;"> </div>
		</div>
		
	</	section>
<div class="foot">
	<div class="mess">
		Мы классные! Купите тортик!
	</div>

	<ul class="logo" style="list-style-type: none;"> 
				<li>

	</div>
					</a>
</div>
</body>
</html>