<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Контакты</title>
	<link rel="stylesheet" href="css/contacts.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<script src="lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="lightbox.min.css">

<link rel="shortcut icon" href="img/icon.png" type="image/png">
</head>
</head>
<body>
	<header id="header" class="header">		
		<div class="container">
		<div class="nav">
			<ul class="menu" style="list-style-type: none;"> 
				<li>
					<a href="main.html">
						Главная
					</a>
				</li>
				<li>
					<a href="examples.html">
						Примеры
					</a>
				</li>
				<li>
					<a href="aboutus.html">
						О нас
					</a>
				</li>
				<li>
					<a href="contacts.html">
						Контакты
					</a>
				</li>
				<li>
					<a href="price.html">
						Цены
					</a>
				</li>
				<div class="call">
				 <img src="img/calllogo.png">
				</div>
					<a href = "tel:+79996664021" class="tel">
						+7 951 834-34-22 	
					</a>
									</ul>
		</div>	
		</div>
	</header>
	<section>
		<h1>Контакты</h1>
		<div class="about">
			<div class="net">
				<p class="info1">
				Наши соцсети: </p> 

				<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="vklogo">
					<img src="img/main/vklogo.png">
							</div>
					</a>
					<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="iglogo">
					<img src="img\contacts\iglogo.png">
							</div>
					</a>
					<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="#">
							<div class="ytlogo">
					<img src="img\contacts\ytlogo.png">
							</div>
					</a>
			</div>
				<div class="men"><p class="info2">
				Наш менеджер: </p> 

				
				<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="vblogo">
					<img src="img\contacts\vblogo.png">
							</div>
					</a>
					<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="wslogo">
					<img src="img\contacts\wslogo.png">
							</div>
					</a>
			</div>
				<div class="wiki"><p class="info3">			
				Информация о нас на Wikipedia: </p>
				<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="wikilogo">
					<img src="img\wikiogo.png">
							</div>
					</a>

				<div class="text">					
					<p>Наш email: tortic@gmail.com <BR>
						<BR>
					Наш адрес: город Казань, улица Асфальтова, дом 21д</p>
				</div>
			</p>
		</div>

	</section>
<div class="foot">
	<div class="mess">
Тортик в сладость, чаек в радость!
	</div>
</div>
</body>
</html>