<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Примеры</title>
	<link rel="stylesheet" href="css/example.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<script src="lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="lightbox.min.css">

<link rel="shortcut icon" href="img/icon.png" type="image/png">
</head>
</head>
<body>
	<header id="header" class="header">		
		<div class="container">
		<div class="nav">
			<ul class="menu" style="list-style-type: none;"> 
				<li>
					<a href="C:\Users\lihac\Desktop\layout\main.html">
						Главная
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\examples.html">
						Примеры
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\aboutus.html">
						О нас
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\contacts.html">
						Контакты
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\price.html">
						Цены
					</a>
				</li>
				<div class="call">
				 <img src="img/calllogo.png">
				</div>
					<a href = "tel:+79996664021" class="tel">
						+7 951 834-34-22 		
					</a>
									</ul>
		</div>	
		</div>
	</header>
	<section>
	<h1>Примеры</h1>
	<div class="line1">
		<a href="img/examples/photo1.jpg" data-lightbox="lbox"><img src="img/examples/example1.jpg" alt="photo1.jpg" style="width: 760px; width: 300px;"></a>
		<a href="img/examples/photo2.jpg" data-lightbox="lbox"><img src="img/examples/example2.jpg" alt="photo2.jpg" style="width: 760px; width: 300px;"></a>
		<a href="img/examples/photo3.jpg" data-lightbox="lbox"><img src="img/examples/example3.jpg" alt="photo3.jpg" style="width: 760px; width: 300px;"></a>
	</div>
	<div class="line2">
		<a href="img/examples/photo4.jpg" data-lightbox="lbox"><img src="img/examples/example4.jpg" alt="photo4.jpg" style="width: 760px; width: 300px;"></a>
		<a href="img/examples/photo5.jpg" data-lightbox="lbox"><img src="img/examples/example5.jpg" alt="photo5.jpg" style="width: 760px; width: 300px;"></a>
		<a href="img/examples/photo6.jpg" data-lightbox="lbox"><img src="img/examples/example6.jpg" alt="photo6.jpg" style="width: 760px; width: 300px;"></a>
	</div>
	 

	</section>
<div class="foot">
	<div class="mess">
		Обзор на Youtube:
	</div>

	<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
							<div class="ytlogo">
		<img src="img/examples/ytlogo.png">
	</div>
					</a>
</div>
</body>
</html>