<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Главная</title>
	<link rel="stylesheet" href="css/main.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="img/icon.png" type="image/png">
</head>
</head>
<body>
	<header id="header" class="header">		
		<div class="container">
		<div class="nav">
			<ul class="menu" style="list-style-type: none;"> 
				<li>
					<a href="C:\Users\lihac\Desktop\layout\main.html">
						Главная
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\examples.html">
						Примеры
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\aboutus.html">
						О нас
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\contacts.html">
						Контакты
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\price.html">
						Цены
					</a>
				</li>
				<div class="call">
				 <img src="img/calllogo.png">
				</div>
					<a href = "tel:+79996664021" class="tel">
					+7 951 834-34-22 	
					</a>
									</ul>
		</div>	
		</div>
	</header>
	<section>
		<h1 class="zgl">Заказные торты</h1>
<div class="about">
  <div class="paragraph">
	Изготовление тортов на заказ - это услуга, которая позволяет клиентам выбрать дизайн, ингредиенты и внешний вид своего торта. Мастер-кондитер принимает пожелания заказчика, разрабатывает уникальный рецепт и создает шедевр, который обязательно удивит и порадует гостей на празднике.
  </div>
  <div class="images">
    <img src="img/main/3.jpg" style="border-radius: 25px;">
  </div>
</div>
<div class="button">
	<ul class="buttonclick" style="list-style-type: none;">
	
	<div class="buttonc">
		<img src="img/main/button.png">
		</a>
	</div>
	<div class="textb">
		<a href="examples.html">
				Посмотреть примеры
		</a>
	</div>
</div>
	 </ul>
			<div class="photo1">
				<img src="img\examples\1.jpg" style="border-radius: 25px;">
			</div>
			<div class="photo2">
				<img src="img\main\1.jpg" style="border-radius: 25px; width: 560px; height: 373px;">
			</div>
			<div class="aboutnext">
				<p>
					Не упустите возможность порадовать себя и своих близких вкусным и уникальным тортом на заказ! Выберите дизайн, ингредиенты и создайте свой идеальный шедевр. Такой подарок обязательно удивит и принесет массу положительных эмоций на любом празднике. Сделайте заказ прямо сейчас и наслаждайтесь эксклюзивным лакомством!
				</p>
			</div>
<div class="button2">
	<ul class="buttonclick" style="list-style-type: none;">
	<div class="textd">
		<a href="price.html">
				Узнать цену
			</div>
	<div class="buttonc2">
		<img src="img/main/button2.png">
		</a>
	</div>
</div>
<div class="photo3" >
	<img src="img/main/4.jpg" style="border-radius: 25px; width: 1180px; height: 371px;">
</div>

	</section>
<div class="foot">
	<div class="mess">
		Присоединяйтесь к нам в соцсетях:
	</div>

	<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com">
							<div class="vklogo">
		<img src="img/main/vklogo.png">
	</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="odlogo">
	    <img src="img/main/iglogo.png" style="padding-left: 45px;">
	</div> </a>
				</li>
</div>
</body>
</html>