<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Цены</title>
	<link rel="stylesheet" href="css/price.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="img/icon.png" type="image/png">
</head>
<body>
	<header id="header" class="header">		
		<div class="container">
		<div class="nav">
			<ul class="menu" style="list-style-type: none;"> 
				<li>
					<a href="C:\Users\lihac\Desktop\layout\main.html">
						Главная
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\examples.html">
						Примеры
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\aboutus.html">
						О нас
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\contacts.html">
						Контакты
					</a>
				</li>
				<li>
					<a href="C:\Users\lihac\Desktop\layout\price.html">
						Цены
					</a>
				</li>
				<div class="call">
				 <img src="img/calllogo.png">
				</div>
					<a href = "tel:+79996664021" class="tel">
						+7 951 834-34-22 		
					</a>
									</ul>
		</div>	
		</div>
	</header>
	<section>
	<h1>Цены</h1>
	<p class="text">
		Наша компания занимается изготовлением кондитерских изделий любой сложности. Даже если вы лишь примерно представляете какой дизайн и вкус у вашего торта, наши кондитеры помогут вам определиться во всех спорных моментах, предложат несоклько дизайнов и архитектур торта и приготовят его в самые короткие сроки! 
	</p>
	<div class="price">
		<p class="price1">
			Торт с конвеерным дизайном<BR>
			400 грамм: 800 руб<BR>
			600 грамм: 1200 руб<BR>
			800 грамм: 1600руб<BR>
			1000 грамм: 2000руб<BR>
		</p>
	 <div class="price2">
	 	Торт с ручной росписью:<BR>
			<BR>
			400 грамм: 1200 руб<BR>
			600 грамм: 1600 руб<BR>
			800 грамм: 2000руб<BR>
			1000 грамм: 2400руб<BR>
	 </div>
</div>	 
	</section>
<div class="foot">
	<div class="mess">
		Связаться с нашим менеджером:
	</div>

	<ul class="logo" style="list-style-type: none;"> 
				<li>
					<a href="https://vk.com/mitrios">
							<div class="vblogo">
		<img src="img/vblogo.png">
	</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="wslogo">
	    <img src="img/wslogo.png" style="
    padding-left: 45px;
">
	</div> </a>
				</li>
</div>
</body>
</html>