h1 {
	flex-shrink: 0; /*сжатие изображения*/
	color: #000;
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin-left: 370px;
	height: 74px;
	margin-top: 51px;
	margin-bottom: 0px;
}
body {
	width: 1600px;
	height: 916px;
	background: linear-gradient(180deg, #FFF 7%, #00E675 83.75%);
}

.container {
	height: 71px;
}

.header {

}

.header a {
	color: #000;
}
.menu {
	height: 20px;
	margin-top: 51px;
	display: flex;

	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.menu li a {
	height: 20;
	margin-right: 35px;
	text-emphasis: none;
	text-decoration: none;
}

.menu li {
}

.tel {
	text-decoration: none;
}

.call {
	margin-left: 56px;
	margin-right: 14px;
}

.nav {
	display: flex;
	align-items: center;
	margin-left: 500px;
	height: 71px;
}

.foot{
	margin-left: 370px;
}

.mess {
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	
	margin-top: 45px;
	float: left;
	/*width: 632px;
	float: left;
	height: 55px;*/
}

.ytlogo {

	float: left;
	margin-bottom: 0px;
	margin-left: 45px;
	padding-top: 37px;
}

.line1 {
	margin-top: 51px;
	margin-left: 430px;

}
.line1 img {
	margin-right: 35px;
}

.line2 {
	margin-top: 51px;
	margin-left: 430px;
}
.line2 img {
	margin-right: 35px;
}